@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
.navbar{
	background-color: rgb(22, 24, 26);
}
.section{
	background-color: rgb(22, 24, 26);
}
body{
	background-color: rgb(22, 24, 26);
	height: 100vh;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display:flex;
	height: 100vh;
	flex-direction:column;
}
h1{
	text-align: center;
	font-size: 44px;
	color: white;
	font-family: "Bebas neue";
}
.box-vip {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: 2px solid ;
	border-color: RGBA(242, 243, 244, 0.5);
	background-color: rgba(24, 22, 27, 0.5);
	width: 300px;
	height: 550px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: white;
	padding-top: 80px;
}
.box-small {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: 2px solid ;
	border-color: RGBA(242, 243, 244, 0.5);
	background-color: rgba(24, 22, 27, 0.5);
	margin-top: 20px;
	width: 300px;
	height: 150px;
	display: inline-block;
	text-align: center;
	color: white;
	
}

span{
	line-height: 40px;
	font-weight: normal;
}
.container{
    text-align: center;
}
.bottom{ background-color: rgb(22, 24, 26);}
.box-vip:hover{
	box-shadow: 0px 0px 4px 4px #ffffff;
	color: white;
}
.box-small span{
	color: red;
}
footer{
	color: rgb(255, 255, 255);
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 35px;
	width: 100%;
	text-align: center;
	font-size: 15px;
}

.bottom{
    margin-top: 20px;
   text-align: center;
}
.bottom h1{
	font-size: 25px;
	font-family: 'Bebas neue';
}
.steam-img{
    box-shadow: 0px 0px 4px 4px #ffffff;
    border: 3px solid black;
	width: 100px;
	border-radius: 100px;
    
}
.line{
    
    display: inline-block;
    margin:0px 30px;
    color: white;
    font-family: 'bebas neue';
    font-size: 20px;
    
}
.orange{
    color: orange;
}
.green{
	color: green
}
.lime{
	color:rgb(55, 122, 55);
}
.yellow{
	color:rgb(143, 143, 19);
}

#border-bottom{
	border-bottom: 2px solid red;
	margin-left: 34%;
	margin-right: 34%;
}
